// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;margin-bottom: 16px;background:#fff;}
.card-header{ padding: 16px;margin:0px;}
.card-body {position: relative; padding: 16px;}

.user-list {list-style-type: none; margin: 0;padding: 0;}
.user-list>.user-list-item {padding: 0 22px;}
.user-list-item-img  {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.user-list-item i  {
    float: left;
    font-size: 24px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}